# Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

#  Media serving
media/
*.pyc
__pycache__/
staticfiles/
db.sqlite3

# VS Code settings
.vscode/

# Environment variables / secrets
.env

# macOS / Windows system files
.DS_Store
Thumbs.db
